.lobby {
  .card-preview {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 1fr;
    padding: 1em;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
    p,
    h4 {
      margin: 0;
    }
    .left-up {
    }
    .right-up,
    .right-bottom {
      text-align: right;
    }
    .left-bottom {
    }
  }
}
