@import './shared/styles/globals.scss';
@import '@icon-park/react/styles/index.css';

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.app {
  background: rgb(250, 240, 240);
  background: linear-gradient(
    0deg,
    rgba(250, 240, 240, 1) 0%,
    rgba(255, 247, 247, 1) 100%
  );
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: $white;
}
