@import '../../shared/styles/globals.scss';

.menu {
  height: 100%;
  text-align: center;
  font-size: 140%;
  font-family: 'Rokkitt';
  color: $white;
  background-color: $black;
  margin-right: 1%;
}
.menuIcon {
  padding-top: 15%;
  color: $white;
  font-size: 350%;
}
.menuLink {
  color: $white;
  text-decoration: none;
}

.menuPopup {
  position: absolute;
  left: 20%;
}
