@import '../../shared/styles/globals.scss';

.menu {
  height: 100%;
  text-align: center;
  font-size: 160%;
  font-family: 'Rokkitt';
  color: $white;
  background-color: $black;
  margin-right: 1%;
}
.menuIcon {
  padding-top: 15%;
  color: $white;
  font-size: 600%;
}
.menuLink {
  color: white;
  text-decoration: none;
}
