.popup-box {
  position: fixed;
  background: black;
  width: 50vw;
  height: 64vh;
  top: 18vh;
  left: 25vw;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.box {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  background: black;
  p {
    font-size: 0.9em;
    text-align: justify;
  }
}

.close {
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  color: red;
}
.close-icon {
  content: 'X';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
