.popup-box {
  position: fixed;
  background: black;
  width: 45em;
  height: 50vh;
  top: 18vh;
  left: 25vw;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.box {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  background: black;
  p {
    font-size: 0.9em;
    text-align: justify;
  }
}

.close {
  cursor: pointer;
  font-size: 1.3em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: inline-block;
  padding: 4px;
  color: red;
}
