body {
  background-color: #555555;
}

.answer-card {
  display: block;
  width: 100px;
  height: 150px;
  background-color: white;

  margin: 0 20px;
}

.answer-card span {
  color: black;
}

.cards-in-hand {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-reverse {
  position: absolute;
  display: block;
  width: 150px;
  height: 225px;

  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.card-reverse.black {
  background-color: black;
}

.card-reverse.white {
  background-color: white;
}

.deck {
  position: relative;
  width: 180px;
  height: 255px;
}

.cards-in-deck-counter {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.deck.black span {
  color: white;
}

.deck.white span {
  color: black;
}

.counter {
  font-size: 2rem;
  color: white;
}
