body {
  background-color: #555555;
}

.answer-card {
  width: 100px;
  height: 150px;
  background-color: white;

  margin: 10px 20px;
}

.answer-card span {
  color: black;
}

.cards-in-hand {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-reverse {
  position: absolute;
  display: block;
  width: 150px;
  height: 225px;

  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.card-reverse.black {
  background-color: black;
}

.card-reverse.white {
  background-color: white;
}

.deck {
  position: relative;
  width: 180px;
  height: 255px;
}

.cards-in-deck-counter {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.deck.black span {
  color: white;
}

.deck.white span {
  color: black;
}

.counter {
  font-size: 2rem;
  color: white;
}

.left-side-panel {
  position: absolute;
  top: 35px;
  left: 0;

  display: flex;
  flex-direction: column;
  height: calc(100vh - 35px);
  width: 250px;

  justify-content: space-around;
  align-items: center;
}

.question-card {
  width: 150px;
  height: 225px;
  background-color: black;

  margin: auto;
  margin-top: 50px;
}

.question-card span {
  color: white;
}

.played-cards {
  width: 40%;
  height: 300px;
  margin: auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
