.home {
  background: rgb(250, 240, 240);
  background: linear-gradient(
    0deg,
    rgba(250, 240, 240, 1) 0%,
    rgba(255, 247, 247, 1) 100%
  );
  font-family: 'Rokkitt';
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  .home-group {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
}
