.home {
  font-family: 'Rokkitt';
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  .home-group {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
}
