.lobby {
  .card-panel {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .available-decks {
      overflow-y: auto;
    }
  }
}
