.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  .red {
    color: #db5653;
  }
  h1 {
    font-weight: 500;
  }
}
