@import './editableCard.scss';

.deck-cards {
  grid-column: 2 / 2;
  grid-row: 2 / 2;

  display: grid;
  grid-template-columns: repeat(
    4,
    calc(max(#{$editable-card-width}, #{$editable-card-min-width}))
  );
  gap: 30px 30px;

  overflow-y: auto;
  height: 100%;

  padding: 0 50px 0 20px;

  justify-self: right;
}
