@import '../../../shared/styles/globals.scss';

.lobby {
  .deck-preview {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 1fr;
    padding: 1em;

    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

    p,
    h4 {
      margin: 0;
    }
    .left-up {
    }
    .right-up,
    .right-bottom {
      text-align: right;
    }
    .left-bottom {
    }
  }

  .deck-preview.black {
    background-color: $black;
    color: white;
    order: 0;
  }

  .deck-preview.white {
    background-color: white;
    color: $black;
    order: 1;
  }

  .deck-preview:hover {
    box-shadow: 0 0 3px 1px $red;
  }

  .card-panel {
    .deck-preview {
      margin: 15px 10px 15px 10px;
    }

    .deck-preview.admin.not-chosen {
      cursor: pointer;
    }

    .deck-preview.chosen {
      filter: opacity($disabled-opacity);
      box-shadow: none;
    }
  }

  .chosen-decks-grid {
    .deck-preview.white .remove-deck-button {
      color: $black;
    }

    .deck-preview.black .remove-deck-button {
      color: $white;
    }

    .deck-preview {
      position: relative;

      .remove-deck-button {
        padding: 0;
        margin: 0;
        border: 0;
        background: none;

        font-size: 1.5em;
        position: absolute;
        top: 10px;
        right: 10px;

        cursor: pointer;
      }

      .remove-deck-button:hover {
        color: $red;
      }
    }
  }
}
