@import '../../../shared/styles/globals.scss';
@import '../cardSizes.scss';

.answer-card {
  width: $card-normal-width;
  height: $card-normal-height;
  min-width: $card-normal-min-width;
  min-height: $card-normal-min-height;

  background-color: $white;
  margin: 0 10px;
  padding: 10px 5px;
  font-size: $card-normal-font-size;

  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

  transition: 0.1s ease-out;

  span {
    color: $black;
  }
}

.answer-card:hover {
  box-shadow: 0 0 3px 1px $red;
}

.answer-card.in-hand:hover {
  transform: scale(2, 2) translateY(-40%);
}
