@import '../../../shared/styles/globals.scss';
@import '../cardSizes.scss';

.question-card {
  grid-column: 2 / 2;
  grid-row: 1 / 1;

  align-self: end;

  width: $card-big-width;
  height: $card-big-height;
  min-width: $card-big-min-width;
  min-height: $card-big-min-height;
  background-color: $black;

  padding: 10px 5px;
  font-size: $card-big-font-size;

  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

  span {
    color: $white;
  }
}
