.lobby {
  .search-wrapper {
    display: flex;
    justify-content: center;
    input.search {
      width: 90%;
      font-size: 1.1em;
      border-radius: 0.5em;
      border: 1px solid black;
      padding: 0.25em;
    }
  }
}
