@import '../../../shared/styles/globals.scss';
form.login,
form.register {
  height: 100%;
  font-size: 1em;
  letter-spacing: 0.5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em 1.5em;

  input {
    display: block;
    font-size: 1em;
    width: 100%;
    font-family: 'Rokkitt';
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    margin: 0.25em 0 1.25em 0;
    text-align: center;
    padding: 2px 0;
  }
  button {
    display: flex;
    align-items: center;
    background: transparent;
    color: $white;
    font-family: 'Rokkitt';
    font-size: 1em;
    padding: 4px 12px;
    letter-spacing: 0.75px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
  }
  h2 {
    font-weight: 400;
    font-size: 1.1em;
    margin: 0 0 1.25em 0;
  }
}
